extends layout

//- block header
//-     h2 DAT SOO ONO

block content
    .wrapper
        p.sup Sup! My name is #{name}
        span#howzit Howzit!!

        h2
            | Hello
            em How are you?

        h2 Sale ends in #{h.moment().endOf('day').fromNow()}